<!DOCTYPE html>
<html>
<head>
	<title>Movie Detail</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <form action="/welcome">
      <input type="submit" value="HOME"><br>
    </form>   

    <p>Not working. Cannot seem to grab a value from results button</p><br>
	<ul>
		<li></li>
  </ul>
  <br>
  <form method="post"action="/favorites" >
	  <button>Add Movie to Favorites?</button>
  </form>
</body>
</html>