<!DOCTYPE html>
<html>
<head>
	<title>Favorites</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <form action="/welcome">
      <input type="submit" value="HOME"><br>
    </form>   


</body>
</html>