<!doctype html>
<html>
  <head>
    <title>OMDB API Example</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <form action="/favorites">
    <input type="submit" value="View Favorites"><br>
    </form>
    <p>Search for a movie!</p>
    <form action="/search">
	    <input type="text" name="searchTerm" placeholder="Search">
	    <input type="submit">

    	


    </form>


  </body>
</html>
